.root {
  min-width: 275;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.pos {
  margin-bottom: 12;
  display: inline-flex;
}

.beerLine {
  display: inline-flex;
}

.pourPrices {
  margin-right: 15px;
}

#abv {
  margin-left: 15px;
}

#expandButton {
  float: right;
  margin-right: 10px;
  color: blue;
}

#topLine {
  padding-bottom: 0px !important;
}

#hiddenButtons {
  display: inline !important;
}

#deleteButton {
  margin-right: 50px;
}

#editButton {
  margin-right: 10px;
}