.background-image{
    background-image: url('../../../assets/beerBackground.jpg');
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    overflow-y: hidden;
    filter: blur(3px);
    /**-webkit-filter: blur(8px);**/
}

.login-page{
    width: 100%;
    height: 100%;
}

.login-card-container{
  padding: 10px;
}

@keyframes float {
  from {
     bottom: 0px
  }

  to {
    bottom: 62%;
  }
}

.bubble {
    visibility: hidden;
    width: 10px;
    height: 20px;
    background: #e2c984;
    border-radius: 50%;
    animation-name: float;
    animation-duration: 7s;
    position: absolute;
    left: 75%;
    filter: blur(4px);
    animation-iteration-count: infinite;
    box-shadow: 2px 2px 1px 1px rgb(80, 44, 29);
}

.body{
    overflow-y: hidden;
}