#modal {
  width: 350px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1 !important;
  transition: 1.1s ease-out;
  box-shadow: 5px 5px 5px 5px #777777 !important;
  filter: blur(0);
  transform: scale(1);  
  opacity: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  padding: 10px 10px 10px 10px !important;
  float: left !important;
  border-radius: 15px !important;
  z-index: 1 !important;
  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }
  @supports (offset-rotate: 0deg) {
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
}