image {
  width: 128;
  height: 128;
}

form{
  max-width: 700px;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  margin: auto
}

img {
  margin: 'auto';
  display: 'block';
  max-width: '100%';
  max-height: '100%';
}

h2 {
  margin: 10px;
  width: 200px;
}

h3 {
  margin: 10px;
  width: 100px;
}

.input-field {
  max-width: 250px;
  width: 100%;
}

.input-field-area {
  max-width: 250px;
  width: 100%;
  white-space: nowrap;
  background-color: lightgray;
  border-radius: 5px;
  display: inherit;
  height: 56px;
}

.input-field-with-button {
  width: 82%;
  background-color: white;
  border-radius: 5px;
}

#save-button{
  background-color: green;
  margin: 10px;

}

#cancel-button{
  margin:10px;
}

#new-type-link {
  margin-left: 20px;
  margin-right: 10px;
}

#bev-producer {
  width: 115px;
}
#bev-type {
  width: 115px;
}

#add-producer-icon {
  margin-top: 15px;
  margin-left: 10px;
}

#add-producer-icon:hover {
  cursor: pointer;
}

#add-bev-type-icon {
  margin-top: 15px;
  margin-left: 10px;
}

#add-bev-type-icon:hover {
  cursor: pointer;
}
