#logoImg {
  height: 45px;
  width: 45px;
  vertical-align: middle;
  padding: 4px;
}

#logoText {
  margin-left: 50px;
  margin-left: auto;
  margin-right: auto;
  color: green;
  vertical-align: middle;
}

#userName {
  vertical-align: sub
}

#userInfoSection {
  display: flex
}

#appBar {
  background-color: black;
}
