.login-card {
    margin: auto;
    margin-top: 15%;

    width: fit-content;
    height: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;

    text-align: center;

    box-shadow: 0px 0px 20px 2px black;
    border-radius: 4px;
    border-style: tran;
    border-width: 7px;
    background-color: white;

    align-self: center;

    font-family: Arial, Helvetica, sans-serif;
}

.mobile-login-card{
    min-width: auto;
}

.title {
    color: darkgreen;
    font-size: 50px;
    font-family: serif;
    overflow: hidden;
    background-color: black;
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
}

.mobile-title{
    overflow: hidden;
    font-size: 40px;
}

.greeting {
    color: black;
    font-size: 35px;
}

.mobile-greeting {
    font-size: 30px;
}

.google-button{
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
    font-weight: 500;
    border-radius: 6px;
    color: white;

    background-color: rgb(40, 92, 47);
    transition: background-color 0.5s ease;

    margin: 0px, 10px, 0px, 10px;
    margin-bottom: 20px;
    width: 75%;
}

.google-button:hover{
    background-color: rgb(31, 64, 36);
}