#tap-modal{
    padding: 10px 10px 10px 10px !important;
    background-color: white;
    width: 400px;
    height: auto;
    max-width: 800px;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#tap-list{
    width: auto;
}

.tap-card{
    height: auto;
    width: 350px;
}
