h3, h2 {
  margin: 10px;
  min-width: 180px;
  width: auto;
}

#taproom_select{
    min-width: 80px;

}
#theme_select{
    padding-top: 20px;
    width: 150px;
}

#url_button{
    margin: 20px;
}

#theme_grid{
    margin: 10px;
}

#taproom_grid{
    margin: 5px;
}

#tapKegCard{
    /* border: 2px; */
    /* color: red; */
    border-color: red;
}

.bevCardButton{
    margin-right: 10px;
    margin-left: 10px;
}

.bev-card{
    /* width: 80%; */
    margin-top: 5px;
}

#theme_select{
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;
}

TextField{
/* min-width: auto; */
  margin-top: 25px;
  margin-right: 10px;
}
