#addFab{
  /* Do not remove line below, we don't know why, but it makes it work as intended (position-wise) */
  background-color: light-grey; /* Color of Fab button */
  position: absolute;
  bottom: 25px;
  right: 25px;
  /* TODO: For not mobile, make button slightly bigger */

  /* This changes the color of the '+' */
  /* color: green; */
}

#homePageTitle {
	text-align: center;
}