#taproom-cards {
	padding: 5px;
	font-weight: medium;
	width: 300px;
	background: white;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	transition: 1.1s ease-out;
	font-size: large;
}

#taproom-delete-icon {
	float: right;
}

#taproom-delete-icon:hover {
	cursor: pointer;
}

body, html {
	overflow-x: hidden;
}