.bev-table-container.MuiTableContainer-root{
    height: 100%;
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    overflow-x: hidden;
}

.bev-table.MuiTable-root{
    height: 100%;
}

.MuiTableRow-root:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.20);
}

.bev-table-cell.MuiTableCell-body{
    border-bottom: none;
}

h2{
    margin-left: 0;
}


.super-small-cell.MuiTableCell-head{
    max-width: 10vw !important;
}
.super-small-cell.MuiTableCell-head > h2{
    max-width: 10vw !important;
}
.super-small-cell.MuiTableCell-head > p{
    width: 100% !important;
}


.super-small-cell.MuiTableCell-body{
    max-width: 10vw !important;
}
.super-small-cell.MuiTableCell-body > h2{
    max-width: 10vw !important;
}
.super-small-cell.MuiTableCell-body > p{
    width: 100%  !important;
}


.pour-size-cell.MuiTableCell-head{
    max-width: 3vw !important;
}
.pour-size-cell.MuiTableCell-head > .MuiTypography-h2{
    max-width: 3vw !important;
}
.pour-size-cell.MuiTableCell-head > p{
    width: 100% !important;
}

.pour-size-cell.MuiTableCell-body{
    max-width: 3vw !important;
}
.pour-size-cell.MuiTableCell-body > h2{
    max-width: 3vw !important;
}
.pour-size-cell.MuiTableCell-body > p{
    width: 100% !important;
}