.beer-container.MuiGrid-container{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.row.MuiGrid-item{
    margin: 4px;
    padding: 0px;

}

.menu-container{
    background-color: rgb(49, 73, 59);
    height: 100%
}

.header{
    height: 12%;
    align-content: center;
}

.beverages{
    height: 88%;
}