.pour-size-selector{
    max-width: 150px;
    min-width: 100px;
}

.pour-price-selector{
    max-width: 150px;
    min-width: 100px;
}

@media (min-width : 385px){
    .mobile-add-button{
        display: none !important;
        background-color: lightgray !important;
    }
}

@media (max-width: 385px){
    .add-button{
        display: none !important;
        background-color: lightgray !important;
    }
    .delete-button{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width : 490px) {
    .MuiDialog-paper{
        margin:  0px !important;
    }
    .MuiDialogContent-root{
        padding: 5px !important;
    }
}